{# app/Resources/views/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Files{% endblock %}

{% block body %}
    {{ include('inc/sidebar.twig') }}


    <div class="col-12 col-lg-9">
        <div class="card">
            <div class="card-body">
                <h2>Disk is empty</h2>
                <p>You may create folders and upload your files</p>
            </div>
        </div>
    </div>

    {# Modal windows #}

    {{ include('inc/popup_file_props.twig') }}
    {{ include('inc/popup_file_rename.twig') }}
    {{ include('inc/popup_folder_create.twig') }}

{% endblock %}